<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Kraken Data Analyzer :: {% block title %}{% endblock %}</title>
    
    <style>
        body {
            padding-top: 5%;
            
        }
        footer {
            position: fixed;
            bottom: 0;
            left: inherit;
            width: 100%;
            height: 5%;
            background: #262d46;
        }
    </style>

</head>
<body class="bg-dark text-center">

    <div class="cover-container"></div>
    <main class="text-white">
        {% block content %}{% endblock %}
    </main>

    <footer class="test-center text-white-50">
        {% block footer %}{% endblock %}
    </footer>

</body>
</html>
