{% extends 'base/base.html' %}

<!--     Title     -->
{% block title %}
Homepage
{% endblock %}



<!--     Content     -->
{% block content %}
    <style>
        #headline {
            text-align: center;
            color: white;
        }
        #description {
            text-align: center;
            color: white;
        }
        #links {
            text-align: center;
        }
        #member-list {
            text-align: center;
        }
    </style>
    
    <!--     Headline     -->
    <div id="headline">
        <h1>Head Kraken Data Analyzer Homepage</h1>
    </div>

    <!--     Description     -->
    <div id="description">
        <p class="lead">
            Project description.
        </p>
    </div>

    <!--     Useful Links     -->
    <div id="links">
        <p><h3>Useful Links:</h3></p>
        <h6><a href="{% url 'rinfo' %}" class="text-white">Get Request Info</a></h6>
        <h6><a href="{% url 'tree' %}" class="text-white">View Project Tree</a></h6>
        <h6><a href="admin/" class="text-white">Administration</a></h6>
    </div>

    <!--     Members     -->
    <div id="member-list">
        <p><h3>Members:</h3></p>
        {% for member in members %}
            {% if member.contact_url %}
                <h6><a href="{{ member.contact_url }}" target="_blank" class="text-white">{{ member.name }}</a></h6>
            {% else %}
                <h6>{{ member.name }}</h6>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}